.topbar {
    width: 100%;
    height: 104px;
    line-height: 104px;
    display: flex;
    justify-content: space-between;
}
.topbar_left h1 {
    font-size:26px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(34,34,34,1);
}
.right_triangle {
    width: 0;
    height: 0;
    margin-top: 49px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #515151;
}
.topbar_left h1 {
    margin-top: 35px;
}
.topbar_right {
    display: flex;
    line-height: 104px;
}
.right_name p {
    font-size:11px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(34,34,34,1);
}