.login {
    width: 100%;
    height: 100%;
    padding-top: 83px;
    box-sizing: border-box;
    background: #F7FCFB;
    padding-bottom: 52px;
}
.login_box {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: -29px;
    left: -29px;
}
.box_left {
    width: 449px;
    height: 517px;
}
.box_left img {
    width: 100%;
    height: 100%;
}
.login .box_right {
    width: 386px;
    height: 517px;
    background: white;
    padding-top: 104px;
    box-sizing: border-box;
    text-align: center;
}
.box_right input {
    width:268px;
    height:40px;
    border-radius:7px;
    border:1px solid rgba(178,186,184,1);
}
.login_wrap {
    width: 840px;
    height: 517px;
    background: #D0F4EA;
    margin: auto;
    position: relative;
}
.right_title h1 {
    font-size:26px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.right_from .el-form-item:nth-child(1) input {
    margin-top: 23px;
}
.right_from .el-form-item:nth-child(2) input{
    margin-top: 12px;
}
.right_from button {
    margin-top: 80px;
    width:268px;
    height:40px;
    background:rgba(4,199,142,1);
    border-radius:7px;
}
.login >>> .el-form-item {
    margin-bottom: 0 !important;
}